/*Colour Scheme
    Green:   #45d9fd;
    White: #f4f4f4;
    Pink: #ee2560;
    Navy:  #08182b;
*/

* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%; /*10px on large screen sizes*/
    padding: 1rem 2rem;
}

/***********************Heading Styles*/
.main-heading {
    color: #f4f4f4;
    font-size: 2rem;
}

/************************Header Styles*/
.header{
    background: #08182b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.search-recipes{
    flex: 0 0 45%;
    margin: 1rem auto;
}

input#recipe-search{
    border: none;
    border-radius: 1rem;
    margin: 0 auto;
    padding: .75rem 1rem;
    width: 75%;
    position: relative;
}

.icons{
    color: #f4f4f4;
    font-size: 2rem;
    margin-top: 1rem;
}

/************************Button Styles*/
.search-btn{
    background: #f4f4f4;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    position: absolute;
    transform: translate(-2rem);
    height: 2.5rem;
    width: 2.5rem;
}

/************************************Media Queries*/
@media screen and (min-width: 992px) {
    .main-heading {
        font-size: 2rem;
    }

    .header{
        flex-direction: row;
        align-items: space-between;
    }
    
}