/*Colour Scheme
    Green:   #45d9fd;
    White: #f4f4f4;
    Pink: #ee2560;
    Navy:  #08182b;
*/

* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%; /*10px on large screen sizes*/
    padding: 1rem 2rem;
}

/***********************Heading Styles*/
.main-heading {
    color: #f4f4f4;
    font-size: 2.5rem;
}

.filter-heading{
    font-size: 1.5rem;
    padding: .25rem;
}

/************************Header Styles*/
.header{
    background: #08182b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.search-recipes{
    width: 70%;
}

input#recipe-search{
    border: none;
    border-radius: 1rem;
    margin: 0 auto;
    padding: .5rem .75rem;
    width: 100%;
    position: relative;
}

.icons{
    color: #f4f4f4;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/************************Button Styles*/
.search-btn{
    background: #f4f4f4;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    position: absolute;
    transform: translate(-1.75rem);
    height: 2rem;
    width: 2rem;
}

.main-container{
    display: flex;
}

/**************************************Side Filter*/
.side-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-group{
    padding: 1rem;
}

.filter-label{
    display: block;
    font-size: 1.5rem;
}

.filter-label input{
    cursor: pointer;
}

/************************************Media Queries*/
@media screen and (min-width: 600px) {
    .header{
        border-top-right-radius: .75rem;
        border-top-left-radius: .75rem;
        flex-direction: row;
        flex-wrap: wrap;
        padding: .5rem;
    }

    .icons{
        flex: 0 0 50%;
        margin-top: 0;
        text-align: right;
    }

    .search-recipes{
        order: 3;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 900px) {
    .main-heading {
        font-size: 2.5rem;
    }

    .header{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }  

    .search-recipes{
        order: 2;
        flex: 0 0 40%;
    }
    
    input#recipe-search{
        margin: 0 auto;
        width: 90%;
    }

    .icons{
        flex: 0 0 auto;
        order: 3;
    }
}