/*Colour Scheme
    Green:   #45d9fd;
    White: #f4f4f4;
    Pink: #ee2560;
    Navy:  #08182b;
*/

* {
    margin: 0;
    padding: 0;
}

body{
    font-size: 62.5%; /*10px on large screen sizes*/
    padding: 1rem 2rem;
}

/***********************Heading Styles*/
.main-heading {
    color: #f4f4f4;
    font-size: 2.5rem;
}

.filter-heading{
    font-size: 1.5rem;
    padding: .2rem;
}

.ingredients {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem;
    min-height: 10rem;
}

.ingredient-info {
    font-size: 1rem;
}

.ingredient-search {
    border-radius: .5rem;
    line-height: 2rem;
    font-size: 1rem;
    margin: 0 auto;
}

#ingredient-list {
    display: inline-block;
    width: 90%;
    padding: 1rem .5rem;
}

.ingredient-badge {
    display: inline-block;
    font-size: 1rem;
    line-height: 2rem;
    background: #08182b;
    color: #f1f1f1;
    margin: .1rem;
    border-radius: 1rem;
    text-align: center;
    padding: 0 .5rem;
}

.delete {
    background: #08182b;
    border: 2px solid #08182b;
    border-radius: 50%;
    color: #f4f4f4;
    font-size: 1rem;
    font-weight: 800;
    margin-left: 1.2rem;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.one-image{
    height: 360px;
    width: 360px;
}

/************************Header Styles*/
.header{
    background: #08182b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.search-recipes{
    width: 70%;
}

.ingredient-search{
    width: 75%;
}

input#recipe-search{
    border: none;
    border-radius: .5rem;
    margin: 0 auto;
    padding: .5rem .75rem;
    width: 100%;
    position: relative;
}

.icons{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.icon a{
    color: #f4f4f4;
    cursor: pointer;
}

.recipe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    flex: 0 0 80%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 15rem;
    margin: 1rem auto;
    padding: .25rem;
    border: 2px solid #08182b;
    box-sizing: border-box;
}

.recipe-heading{
    align-self: flex-end;
    background: linear-gradient(to left, rgba(244, 244, 244, .4),
                                    rgba(244, 244, 244, .8), 
                                        rgba(244, 244, 244, .4));
    color: #08182b;
    font-size: 1.25rem;
    width: 100%;
    margin: 0 auto;
    padding: .5rem 0;
    text-align: center;
    font-variant: small-caps;
    font-weight: 600;
}

/************************Button Styles*/
.filter-btn{
    display: block;
    background: #f4f4f4;
    border: 2px solid #f4f4f4;
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 0 auto;
    font-size: 1.1rem;
    font-weight: 700;
    padding: .5rem 1rem;
    cursor: pointer;
    transition: all .4s;
}

.filter-btn:hover{
    transform: scale(1.1);
}

.filter-btn:active{
    transform: translateY(-1.5rem);
}

.add-btn{
    border-radius: .5rem;
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    transform: translateX(-2.5rem);
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.main-container{
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
}

/**************************************Side Filter*/
.side-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ee2560;
    padding-bottom: 4rem;
    width: 100%;
    color: #08182b;
}

.recipe-title {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.search-filters{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 90%;
}

.filter-group{
    padding: 1rem;
}

.radio-input,
.checkbox-input {
    margin-bottom: .5rem;
}

/***********************Custom radio buttons* and checkboxes*/
.radio-option, 
.check-option {
    visibility: hidden;
}

.filter-label{
    cursor: pointer;
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 700;
    position: relative;
    padding-left: .5rem;
}

.radio-select,
.check-item {
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 3px solid #f4f4f4;
    top: -.15rem;
    left: -1.25rem;
}

/*after pseudo element for styling innner part of custom radio button & checkbox*/
.radio-select::after{
    border-radius: 50%;
    height: .6rem;
    width: .6rem;
    background: #f4f4f4;
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: opacity .2s;
}

.radio-option:checked + .filter-label .radio-select::after{
    opacity: 1; 
}

.check-item {
    border-radius: 0;
    margin-bottom: .2rem;
}

.check-item::after{
    display: block;
    height: .6rem;
    width: .6rem;
    position: absolute;
    content: '';
    background: #f4f4f4;
    top: 0;
    left: .5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .2s;
}

.check-option:checked + .filter-label .check-item::after{
    opacity: 1;
}

/************************************Recipe Modal*/
.recipe-modal{
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
    border: 1px solid navy;
    background-color: white;
    width: 800px;
    box-sizing: border-box;
    max-height: 95%;
    max-width: 90%;
    z-index: 10;
    overflow: scroll;
}

.modal-heading{
    display: flex;
    justify-content: center;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.single-recipe-title {
    font-size: 2rem;
    font-variant: small-caps;
    font-weight: 500;
    color: navy;
}

.close-btn{
    right: 0;
    top: 0;
    position: fixed;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #f1f1f1;
    font-weight: bold;
    cursor: pointer;
}

.ingredient-list,
.instruction-list {
    padding: .5rem 1rem;
}

.list-item{
    list-style: none;
    font-size: 1.25rem;    
}

/************************************Media Queries*/
@media screen and (min-width: 600px) {
    .header{
        border-top-right-radius: .75rem;
        border-top-left-radius: .75rem;
        flex-direction: row;
        flex-wrap: wrap;
        padding: .5rem;
    }

    .icons{
        flex: 0 0 50%;
        margin-top: 0;
        text-align: right;
    }

    .search-recipes{
        order: 3;
        margin: 1rem auto;
    }

    .recipe-card{
        flex: 0 0 60%;
    }

    .recipe-heading {
        width: 90%;
    }
}

@media screen and (min-width: 800px) {
    .main-container{
        flex-direction: row;
    }

    .side-filter{
        flex: 0 0 30%;
    }

    .recipe-card{
        flex: 0 0 40%;
    }
}

@media screen and (min-width: 900px) {
    .main-heading {
        font-size: 2.5rem;
    }

    .header{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }  

    .search-recipes{
        order: 2;
        flex: 0 0 40%;
    }

    input {
        background: #f4f4f4;
        color: #08182b;
    }
    
    input#recipe-search{
        margin: 0 auto;
        width: 85%;
    }

    .icons{
        flex: 0 0 auto;
        order: 3;
    }

    .side-filter{
        flex: 0 0 25%;
    }

    .recipe-card{
        flex: 0 0 30%;
        margin: 1rem;
    }

    .details{
        display: flex;
        justify-content: center;
    }
}